<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://unpkg.com/d3-simple-slider"></script>
  	<script src="//d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
  	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
</head>

<body>
	<script>var data = {{ data.data | safe }};</script>
	
	<div class="menu_bar">
		<div class="menu_bar-left">
			<select name="topic" id="topicSelect">
				<option value="economy">Economy</option>>
				<option value="population">population</option>
				<option value="energy">energy</option>
				<option value="education">education</option>
			</select>

			<select name='subtopic' id='subtopicSelect'>
				<option value='gdp' selected='selected'>GDP ($US)</option> 
			</select>

			<select name='incomeType' id='incomeSelect'>
				<option value="high-income">High income</option>
				<option value="middle-income">Middle income</option>
				<option value="low-income">Low income</option>
				<option value="all">All</option>
			</select>
			<script>
				$(document).ready(function () {
					$('#topicSelect').change(function() {
						var val = $(this).val();
						if (val == "economy") {
							$("#subtopicSelect").html(" \
								<option value='gdp' selected='selected'>GDP</option> \
								<option value='gni'>GNI per capita</option> \
							");
						}
						else if (val == "energy") {
							$("#subtopicSelect").html(" \
								<option value='co2_emission' selected='selected'>CO2 emission (kt)</option> \
								<option value='co2_tran'>CO2 emission from transportation (%)</option> \
								<option value='co2_manf'>CO2 emission from manufacturing industries (%)</option> \
								<option value='co2_elec'>CO2 emission electricity and heat production (%)</option> \
								<option value='co2_bldg'>CO2 emission residental and commercial building (%)</option> \
								<option value='alternative'>alternative energy usage rate (%)</option> \
							");
						}
						else if (val == "population") {
							$("#subtopicSelect").html(" \
								<option value='population' selected='selected'>Population</option> \
								<option value='migrant'>Migrant (people)</option> \
								<option value='birth_rate'>Birth Rate (%)</option> \
								<option value='death_rate'>Death Rate (%)</option> \
								<option value='life_expectancy'>Life Expectancy (year)</option> \
							");
						}
						/*
						else if (val == "employment") {
							$("#subtopicSelect").html(" \
								<option value='lfpr' selected='selected'>Labor Force Participation Rate (%)</option> \
								<option value='unemployment'>Unemployment (%)</option> \
							");
						}
						*/
						else if (val == "education") {
							$("#subtopicSelect").html(" \
								<option value='gov_expenditure' selected='selected'>Government expenditure on edu. (US$)</option> \
								<option value='enroll_preprimary'>School enrollment, preprimary (%)</option> \
								<option value='enroll_primary'>School enrollment, primary (%)</option> \
								<option value='enroll_secondary'>School enrollment, secondary (%)</option> \
								<option value='enroll_tertiary'>School enrollment, tertiary (%)</option> \
							");
						}
					});
				});
			</script>
		</div>
		<div class="menu_bar-right">
			<select name='country' id='countrySelect'>
				<option value="USA">USA</option>
				<option value="JPN">Japan</option>
				<option value="DEU">Germany</option>
				<option value="GBR">United Kindom</option>
				<option value="AUS">Australia</option>
			</select>

			<script>
				$(document).ready(function () {
					$('#incomeSelect').change(function() {
						var val = $(this).val();
						if (val == "high-income") {
							$("#countrySelect").html(" \
								<option value='USA' selected>USA</option> \
								<option value='JPN'>Japan</option> \
								<option value='DEU'>Germany</option> \
								<option value='GBR'>United Kindom</option> \
								<option value='AUS'>Australia</option> \
							");
						}
						else if (val == "middle-income") {
							$("#countrySelect").html(" \
								<option value='TUR' selected>Turkey</option> \
								<option value='THA'>Thailand</option> \
								<option value='CHN'>China</option> \
								<option value='BRA'>Brazil</option> \
								<option value='IND'>India</option> \
							");
						}
						else if (val == "low-income") {
							$("#countrySelect").html(" \
								<option value='SOM' selected>Somalia</option> \
								<option value='UGA'>Uganda</option> \
								<option value='NPL'>Nepal</option> \
								<option value='GIN'>Guinea</option> \
								<option value='AFG'>Afghanistan</option> \
							");
						}
						else if (val == "all") {
							$("#countrySelect").html(" \
								<option value='USA' selected>USA</option> \
								<option value='JPN'>Japan</option> \
								<option value='DEU'>Germany</option> \
								<option value='GBR'>United Kindom</option> \
								<option value='AUS'>Australia</option> \
								<option value='TUR' selected>Turkey</option> \
								<option value='THA'>Thailand</option> \
								<option value='CHN'>China</option> \
								<option value='BRA'>Brazil</option> \
								<option value='IND'>India</option> \
								<option value='SOM' selected>Somalia</option> \
								<option value='UGA'>Uganda</option> \
								<option value='NPL'>Nepal</option> \
								<option value='GIN'>Guinea</option> \
								<option value='AFG'>Afghanistan</option> \
							");
						}
					});
				});
			</script>
		</div>
	</div>

	<div class="div-top">
		<div class="div-lineChart">
			<div class="div-lineChart-plot">
				<script src="{{ url_for('static', filename='js/lineChart.js') }}"></script>
			</div>
			<div class="div-dashboard"></div>
		</div>

		<div class="div-parCoorPlot">
			<script src="{{ url_for('static', filename='js/par_coor.js') }}"></script>
		</div>
	</div>

	<div class="div-bottom">
		<div class="div-scatterPlot">
			<script src="{{ url_for('static', filename='js/scatterPlot.js') }}"></script>
		</div>
		<div class="div-worldMap"></div>
		<div class="div-barChart-pieChart">
			<script src="{{ url_for('static', filename='js/barChart.js') }}"></script>
			<script src="{{ url_for('static', filename='js/pieChart.js') }}"></script>
			<div class="div-plotType">
				<input class="plotType" name="typeButton", type="button" value="Bar Chart" disabled>
				<input class="plotType" name="typeButton", type="button" value="Pie Chart">
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>